
<h2>Celebrities:</h2>
{{#each allCelebrities}}
<p><a href="celebrities/{{this._id}}">{{this.name}}</a> - <a href="celebrities/{{this._id}}/edit">Edit</a> - <a href="celebrities/{{this._id}}/delete">Delete</a></p>
{{/each}}   
<p><a href="celebrities/add">Add new</a></p>